.pending{
    background:#FFEAA7;
    color:#856404;
}

.accepted{
    background:#D4EDDA;
    color:#155724;
}

.rejected{
    background:#F8D7DA;
    color:#721C24;
}

.status{
    padding:8px 18px;
    border-radius:20px;
    display:inline-block;
    font-weight:600;
}

.myApplications-container{
    width: 90%;
    margin: 40px auto;
}

.status{
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: 600;
}

.pending{
    background: #FFEAA7;
    color: #856404;
}

.accepted{
    background: #D4EDDA;
    color: #155724;
}

.rejected{
    background: #F8D7DA;
    color: #721C24;
}